<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SomeDialogBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SomeDialogBox.Properties.Settings>
            <setting name="txtbTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="txtbComment" serializeAs="String">
                <value />
            </setting>
            <setting name="cmbBtnName" serializeAs="String">
                <value>cmbBtn</value>
            </setting>
            <setting name="cmbBtnIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbIconIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cmbDefaultBtnIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtbHelpFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="txtbHelpKeyWord" serializeAs="String">
                <value />
            </setting>
            <setting name="chkHelpBtn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtbFilterOFD" serializeAs="String">
                <value />
            </setting>
            <setting name="txtbTitleOFD" serializeAs="String">
                <value />
            </setting>
            <setting name="chkHelpBtnOFD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ckbReadOnlyOFD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkReadOnlyOFD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtbTitleSFD" serializeAs="String">
                <value />
            </setting>
            <setting name="txtbFilterSFD" serializeAs="String">
                <value />
            </setting>
            <setting name="chkHelpSFD" serializeAs="String">
                <value>False</value>
            </setting>
        </SomeDialogBox.Properties.Settings>
    </userSettings>
</configuration>